{{#each order}}
<h2>Customer: {{this.customer.customer_name}}</h2>
<h2 class="cust-id" id='cust-id'>Customer ID:{{this.customer_id}}</h2>
<h2 class="order-id" id='order-id'>Order ID:{{this.id}}</h2>
<h2>Due On: {{this.due_date}}</h2>
{{/each}}

<button id="add-line" class="btn btn-success">Add new order line</button>
<button id="remove-line" class="btn btn-danger">Remove last line</button>
<button id="submit-detail" class="btn btn-warning">Submit order</button>
<div id="warning"></div>

{{!-- render a new "line-form" every time the user clicks "add new order line" --}}
<form id="details" action="">

</form>

<script src="/javascript/add-order-detail.js"></script>