<div class="container d-flex justify-content-center">
    <div id="order-holder" class="card row" style="width: 50%;">
        <form class="new-order-form">
            <div class="form-group">
                <label for="customers">Choose a customer</label>
                <select name="" id="customers" class="form-control">
                    {{#each cust_list }}
                    <option value="{{this.id}}">{{this.customer_name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="due">Due Date</label>
                <input type="date" id="due" name="due" min="2021-10-15" max="2030-01-01" />
            </div>

            <button type="submit" class="btn btn-success">Create new order</button>
        </form>
    </div>

    <div class="line-holder">

    </div>

</div>


<script src="/javascript/create-order.js"></script>