<div class="container">
    <div class="row">
        {{!-- SELECT existing customer --}}
        <div class="col-sm">
            <section>
                <form class="new-cust-form">
                    <div>
                        <label for="cust_name">Customer Name</label>
                        <input type="text" id="cust_name" name="cust_name" />
                    </div>
                    <button type="submit" class="btn btn-success">Create new customer</button>
                </form>
            </section>
            {{#if custList.length}}
            <section>
                <h2>My Customers</h2>
                <ul class="post-list">
                    {{#each custList as |customer|}}
                    <li>
                        <a href="/dashboard/custDetail/{{customer.id}}"
                            class="get-customer">{{customer.customer_name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </section>
            {{/if}}
        </div>
        {{!-- EDIT data --}}
        <div class="col-sm">
            <section>
                <h2>Manage data</h2>
                <a href="/dashboard/createOrder"><button class="btn btn-success col-sm create-order">Create new
                        order</button></a>
                <button class="btn btn-success col-sm edit-order">Edit existing order</button>
                <button class="btn btn-success col-sm edit-inv">Edit Inventory</button>
            </section>
        </div>
        {{!-- Inventory table --}}
        <div class="col-sm">
            <section>
                <form class="new-inv-form">
                    <div>
                        <label for="prod-name">Product Name</label>
                        <input type="text" id="prod-name" name="prod-name" />
                    </div>
                    <div>
                        <label for="prod-qty">Quantity</label>
                        <input type="text" id="prod-qty" name="prod-qty" />
                    </div>
                    <button type="submit" class="btn btn-success">Add product</button>
                </form>
            </section>
            <section>
                <h2>Current inventory</h2>
                <table class="table">
                    <thead>
                        <th>Product</th>
                        <th>Quantity</th>
                    </thead>

                    <tbody>
                        {{#each productList as |product|}}
                        <tr>
                            <td>{{product.product_name}}</td>
                            <td>{{product.quantity}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </section>
        </div>

    </div>
</div>

<script src="/javascript/create-customer.js"></script>
<script src="/javascript/add-product.js"></script>