<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2> Edit inventory </h2>
            <div class="card" style="width: 18rem;">
                <form class="edit-inventory-form">
                    <div class="form-group">
                        <label for="product" class="form-label">Choose an inventory product</label>
                        <select name="product" id="product" class="form-control">
                            {{#each product_list }}
                            <option value="{{this.id}}">{{this.product_name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="qty">Edit quantity</label>
                        <input type="number" id="qty" name="qty" min="1" max="25000" />
                    </div>

                    <button type="submit" class="btn btn-success">Update product</button>
                    <button type="button" class="btn btn-danger delete">Delete product</button>
                </form>
            </div>
        </div>

        <div class="col-sm">
            <h2>Seed Data</h2>
            <!-- wrap the entire dropzone in a form to submit files SOMEWHERE-->
            <!-- the ROUTE we will send this file through is "/upload" -->
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop file here or click to upload</span>
                    <!-- allows us a place to store the files a user has selected -->
                    <!-- we'll need a NAME attribute to actually process the file for regular form submission-->
                    <!-- the NAME is the way our express upload library will upload the file -->
                    <input type="file" name="myFile" class="drop-zone__input" id="">
                </div>
                <button type="submit" name="submit">Upload</button>
            </form>
        </div>
    </div>
</div>





<script src="/javascript/seed-data.js"></script>
<script src="/javascript/edit-inventory.js"></script>