<div class="container d-flex justify-content-center flex-column w-25 p-3" >

<form action="" class="login-form <!--d-flex justify-content-center flex-column w-50-->">
  <div>
    <label for="email-login">email:</label>
    <input type="email" id="email-login" class="form-control">
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" class="form-control" minlength="4">
  </div>
  <div>
    <button type="submit" class="submit-button">login</button>
  </div>
</form>

<form class="signup-form <!--d-flex justify-content-center flex-column w-50-->">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" class="form-control" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="email" id="email-signup" class="form-control" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" class="form-control" minlength="4" />
  </div>
  <div>
    <button type="submit" class="submit-button">signup</button>
  </div>
</form>
</div>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>