<section class="sign-in-page">
    <div class="form-heading">
        <h1> Sign up </h1>
    </div>
    <div class="form-section">
        <form class="signup-form">
            <div>
                <label for="username-signup"> Enter a Username </label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div>
                <label for="password-signup"> Enter a password </label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn"> Sign Up </button>
            </div>
        </form>
    </div>

    <a href="/login" class="login-link"> Log in </a>
</section>

<script src="/javascript/signup.js"></script>