* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

header h1 {
    display: flex;
    justify-content: center;
    font-style: none;
}
/* 
input {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
} */
#manage {
    margin-bottom: 2%;
    color: white;
}
.form-heading {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.login-page {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    
}

.cust-id-span {
    opacity: 0;
    display: none;
}

/* button {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
} */

a {
    margin: 0;
}

.drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;

    /* Indicate to user that you can click on the drop zone */
    cursor: pointer;

    color: #ccc;
    border: 4px dashed #009578;
    border-radius: 10px;
}


/* EXCEL DPOPZONE STYLE */
/* Class to be added by JS when the user drags out over the element and such*/
.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    /* Display the text of the data attribute label */
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}